langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-chroma
langchain-huggingface
langchain-ollama
langgraph

chromadb
sentence-transformers
huggingface_hub
pydantic
pydantic-settings
tiktoken
langsmith
