pydantic
pydantic-settings

langchain-chroma

python-dotenv

langsmith

langchain
langgraph
langchainhub
langchain-community
langchain-core
langchain-huggingface

#split package
langchain_text_splitters
tiktoken

#embedding
sentence-transformers

#LLM
ollama
langchain-ollama